#banner-anti{
    background-image: url("../../assets/Hero.jpg");
    height: 90vh;
    width: 100%;
    background-position: top 20% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }